# Các file biên dịch tự sinh của Maven
target/
*.war
*.ear
*.jar

# Cấu hình riêng của NetBeans
nbproject/private/
build/
nbbuild/
dist/
nb-configuration.xml

# File hệ điều hành tự sinh
Thumbs.db
.DS_Store